.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  min-height: 100vh;
}

#footer {
  position:sticky;
  top:100vh
}