body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-width: 100vw;
}

#footer {
  text-align: center;
  font-size: 1.3rem;
  min-width:100vw;
  min-height: 7vh;
  padding-bottom: 0px;
  padding-top:40px
}

@media only screen and (max-height: 900px) {
  #footer {
    min-height: 9vh;
    max-height: 9vh
  }
}
