.login-form {
    min-width:400px;
    max-width:600px;
    margin-left: auto;
    margin-right: auto;;
  }
  .login-form-forgot {
    float: right;
  }
  .ant-col-rtl .login-form-forgot {
    float: left;
  }
  .login-form-button {
    width: 100%;
  }
  .form-container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 3em;
    border: 3px solid #f1f1f1;

  }
  .flex {
    display: flex;
  }
  
  @media only screen and (max-width: 500px) {
    .login-form {
      min-width:80vw;
    }
  }